.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* .Company{
align-items: center;
list-style-type: none;
width: 800px;
display: flex;
justify-content: space-between;
}

.Column{
  align-items: center;
list-style-type: none;
width: 600px;
display: flex;
justify-content: space-between;
font-weight: bold;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table {
  
  font-family: arial, sans-serif;
  border-collapse:separate;
  width: 90%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}


button {
 
  padding: 6px 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 50px;
  border: none;
  font-size: 12px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(238, 88, 50, 0.5);
  outline: 0;
}
img {
  max-width:50px;
  max-height:50px;
  width:auto;
  height:auto;
}
